body{
    background-color: blanchedalmond;
    font: bold;
}
h1
{
    text-align:center;
    color: rgba(16, 16, 224, 0.842);
}
h2,h3{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif
    
}
.bgimage{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    background-image:url("https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

    background-blend-mode:overlay;
    background-attachment:fixed;
    background-position:center;
    background-size:cover
}

