h1{
    color: rgb(33, 19, 228);
}
p{ 
    
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(76, 39, 240);
}
  body{
      background-color: rgb(0, 255, 255);
  }
  .img{
    width: 100%;
    max-width: 300px;
    height: auto;
  }
.container{
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    display: flex;
    
}
.colm{
    margin: 2rem;
    padding: 2rem;
}
    




